include ../mixins/text.pug
section(class="section home-section-3")
    div(class="container pb-[12rem]")
        div(class="atropos my-atropos")
            div(class="atropos-scale")
                div(class="atropos-rotate")
                    div(class="atropos-inner")
                        div(class="fade-class" data-scroll data-scroll-class="is-in-view")
                            h1(class='text-xl text-center' data-atropos-offset="6") Comming Spring 2027
                    