
include ../mixins/button.pug
include ../mixins/text.pug

section(class="section home-section-2")
    div(class="container py-[4rem]")
        div(class="overflow-hidden")
            +Title(
                'Coming Spring 2027',
                'h1',
                'text-xl text-center'
                ) 
        div(class="grid grid-cols-1 md:grid-cols-2 gap-[6rem] pt-[12rem] ")
            div(class="banner overflow-hidden")
                div(class="owl-carousel owl-theme  clip-reveal" data-scroll data-scroll-class="is-in-view" data-scroll-repeat=true)
                    div(class="w-full")
                        img(src="./media/banner/1.png" , alt="Resort-style pool at The Wayne apartments")
                    div(class="w-full")
                        img(src="./media/banner/2.png" , alt="Resort-style pool at The Wayne apartments")
                    div(class="w-full")
                        img(src="./media/banner/3.png" , alt="Resort-style pool at The Wayne apartments")
                    div(class="w-full")
                        img(src="./media/banner/4.png" , alt="Resort-style pool at The Wayne apartments")
            div(class="flex flex-col gap-[2rem]") 
                +Title(
                    'High-Class Hideout',
                    'h2',
                    'text-left text-xl'
                )
                +Text(
                    'The Wayne is where bold design meets everyday ease. Inspired by the lucky horseshoe, this modern Crestwood community blends refined architecture, warm textures, and clean geometry to create a space that feels both grounded and elevated.'
                )
                +Text(
                    'Located within the top-rated Lindbergh School District, The Wayne puts you right where you want to be, close to everything, yet designed so you never have to leave. From the resort-style pool and state-of-the-art fitness center to the WeWork-inspired business lounge, every amenity is built for balance, work, play, recharge, repeat.'
                )
                +Text(
                    'Inside, sleek apartments feature luxury finishes, smart layouts, and modern craftsmanship that set the tone for a life well-lived.'
                )
                +Text(
                    'Confident. Sophisticated. Unmistakably The Wayne.'
                )


    

    
