/* Start hidden */
@use '../abstracts' as *;

/* ======== */
/* ANIMATIONS CSS */
/* ======== */



// Fade-in animation for reveal elements
.fade-class {
  opacity: 0;
  transform: translateY(rem(40));
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-delay: 0.5s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.clip-reveal {
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
  transform: scale(1.4); // optional zoom-out reveal
  transition:
  clip-path 6.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  transform 6.2s cubic-bezier(0.19, 1, 0.22, 1),
  opacity 0.6s ease-out;

  &.is-in-view {
    clip-path: circle(100% at 50% 50%); // expands out
    transform: scale(1);
    opacity: 1;
  }
}
