/* Start hidden */
@use '../abstracts' as *;

/* ======== */
/* ANIMATIONS CSS */
/* ======== */


// Fade-in animation for reveal elements
.fade-class {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-delay: 0.5s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.clip-reveal {
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  transform: scale(1.4); // slightly reduced scale (more subtle)
  transition:
    clip-path 3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.6s ease-out;
  transition-delay: 1s; // reveal delay (optional)

  &.is-in-view {
    clip-path: inset(0 0 0 0);
    transform: scale(1);
    opacity: 1;
  }
}
