// Add any new component created to this list
@forward 'breadcrumbs';
@forward 'buttons';
@forward 'cards';
@forward 'carousel';
@forward 'slider';
@forward 'forms';
@forward 'navigations';
@forward 'preloader';
@forward 'checkbox';
@forward 'hamburger';
@forward 'locomotive';
@forward 'animations';
@forward 'canvas';
@forward 'svg';
@forward 'icons';
@forward 'radio';
@forward 'select';
@forward 'tables';
@forward 'tabs';