// Abstracts
@use '../abstracts/' as *;

/* Preloader */

.preloader{
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    .slide {
        position: relative;
        height: 100vh;
        background: ss-var($colors,neutral,'white'); 
    }

    .slide svg {
        height: 100%;
        width: 5%;
        position: absolute;
        left: 50%;
        transform: scaleY(0);
        line{
            stroke-width: 2;
            stroke:ss-var($colors,neutral,'black'); 
        }
    }

    /* Slide 1 → scale from bottom → top */
    .slide:nth-of-type(1) svg {
        bottom: 0;
        transform-origin: bottom;
    }

    /* Slide 2 → scale from top → bottom */
    .slide:nth-of-type(2) svg {
        top: 0;
        transform-origin: top;
    }

}
