// Abstracts
@use '../abstracts/' as *;

/* ========= */
/* Font Face */
/* ========= */


@include font-face($font-helevetica, "../fonts/helvetica-255/Helvetica", 100, "normal", ttf);

@include font-face($font-balestya, "../fonts/custom/TheChairman-Regular", 100, "normal", otf);

@include font-face($font-philosopher, "../fonts/custom/Philosopher-Regular", 100, "normal", ttf);


