// Abstracts
@use "../abstracts/" as *;

/* ========== */
/* Typography */
/* ========== */

// Google Fonts Import
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* Standart mobile first typography */
@include font-sizes(3.2rem, 2.6rem, 2.2rem, 1.8rem, 1.6rem);

/* Mobile typography fixes for small screens: 320px ~ 360px */
@include breakpoint-between(ss-var($breakpoints, "320") , ss-var($breakpoints, "360")) {
    @include font-sizes(3rem, 2.4rem, 2rem, 1.6rem, 1.4rem);
}

/* Tablet typography: 768px+ */
@include breakpoint-min(ss-var($breakpoints, "768")) {
    @include font-sizes(3.2rem, 2.6rem, 2.2rem, 1.8rem, 1.6rem);
}

/* Tablet typography: 1024px+ */
@include breakpoint-min(ss-var($breakpoints, "1024")) {
    @include font-sizes(4rem, 3.2rem, 2.4rem, 1.8rem, 1.6rem);
}

/* Computer typography: 1280px+ */
@include breakpoint-min(ss-var($breakpoints, "1280")) {
    @include font-sizes(4rem, 3.2rem, 2.4rem, 1.8rem, 1.6rem);
}

/* Computer typography: 1440px+ */
@include breakpoint-min(ss-var($breakpoints, "1440")) {
    @include font-sizes(4.4rem, 3.4rem, 2.6rem, 1.8rem, 1.6rem);
}

/* Computer typography: 1920px+ */
@include breakpoint-min(ss-var($breakpoints, "1920")) {
    @include font-sizes(4.8rem, 3.6rem, 2.8rem, 1.8rem, 1.6rem);
}

/* Computer typography: 2560px+ */
@include breakpoint-min(ss-var($breakpoints, "2560")) {
    @include font-sizes(4.8rem, 3.8rem, 3rem, 2rem, 1.8rem);
}


.text-xxl{
    @apply 
    leading-none
    capitalize;

}

.text-xl{
    font-family: $font-philosopher;
    color: ss-var($colors,primary,'primary3');  
    @apply leading-none  tracking-wide  uppercase font-medium; 
}

.text-lg {
   @apply leading-none;  
}

.text-md{
    @apply leading-none;
    font-family: $font-philosopher;
  
}

.text-sm {
    font-family: $font-balestya;
    color: ss-var($colors,neutral,'white');
    word-spacing: rem(16);
    @apply  capitalize; 
}

.text-body {
    @apply leading-none;   
}
.text-input {
   @apply leading-none; 
}

.text-highlight {
   @apply leading-none; 
}

.text-link {
 color: ss-var($colors,neutral,'white');
 font-family: $font-helevetica;
}

.text-direction {
   @apply leading-none; 
}





