// Abstracts
@use '../abstracts' as *;

/* ======== */
/* Home CSS */
/* ======== */

.section{
    &.home-section-1{
        position: relative;
        height: 100vh;
        width: 100%;
    }
    &.home-section-2{
        h1{
            color: ss-var($colors,neutral,'white');
            &.fade{
                opacity: 0;
            }   
        }
        

    }
   

    
}


