mixin Input(placeholder)
    div(class="fade-class" data-scroll data-scroll-class="is-in-view" data-scroll-repeat=true)
        input(type='text' required='' class="text-link")
        label(placeholder=placeholder class="text-link" alt=placeholder)