mixin Title(title,tag,Class)
    #{tag}(class="text-xl fade-class '"+Class+"'"  data-scroll data-scroll-class="is-in-view") #{title} 
mixin Link(title,url)
    a(href=url class="text-link link_underline active") #{title}
